[
  {estore,[
    {default_db,pgsql}
    ,{dbs,[
      {pgsql,[
	{tablespace,lamazone}
	,{pools,[
	  {pgsql_pool,[
	    {size,10}
	    ,{max_overflow,20}
	  ],[
	    {hostname,"127.0.0.1"}
	    ,{database,"lamazone"}
	    ,{username,"lamazone"}
	    ,{password,"lamazone"}
          ]}
	]}
      ]}
    ]}
  ]}
].
