[
  {estore,[
    {default_db,pgsql}
    ,{dbs,[
      {pgsql,[
	{tablespace,lamazone}
	,{pools,[
	  {pgsql_pool,[
	    {pool_size,[
	      {size,10}
	      ,{max_overflow,20}
	    ]}
	    ,{worker_args,[
	      {hostname,"127.0.0.1"}
	      ,{database,"lamazone"}
	      ,{username,"lamazone"}
	      ,{password,"lamazone"}
	    ]}
	  ]}
	]}
      ]}
    ]}
    ,{log_debug,true}
  ]}
].
