[
  {estore,[
    {default_db,pgsql}
    ,{log_debug,true}
    ,{log_info,true}
    ,{log_error,true}

    ,{dbs,[
%      {pgsql,[
%	{tablespace,lamazone}
%	,{pools,[
%	  {pgsql_pool,[
%	    {pool_size,[
%	      {size,10}
%	      ,{max_overflow,20}
%	    ]}
%	    ,{worker_args,[
%	      {hostname,"127.0.0.1"}
%	      ,{database,"lamazone"}
%	      ,{username,"lamazone"}
%	      ,{password,"lamazone"}
%	    ]}
%	  ]}
%	]}
%      ]}
      {mnesia,[
        {store,ram_copies}
        ,{dir,""}
      ]}
%      ,{es,[
%        {http_rsc,hackney}
%        ,{init,true}
%        ,{http_rsc_deps,[crypto,asn1,public_key,ssl,idna]}
%	,{es_url,"http://test-esb-1:9200"}
%	,{es_proxy_url,undefined}
%      ]}
    ]}
  ]}
].
