[
  {pgsql,[
      {db_type,pgsql}
      ,{tablespace,lamazone}
      ,{models,[
	{address,#{
	  line1 => [
	    {type,{varchar,[{length,50}]}]}
	    ,{constraints,[{null,true}]}
	  }		  
	  ,line2 => [
	    {type,{varchar,[{length,50}]}]}
	    ,{constraints,[{null,true}]}
	  }
      ]}
    ]
  }
].
