%% -*- mode: erlang -*-

{lib_dirs,["deps"]}.
{eunit_opts, [verbose]}.

{deps,
 [
  {poolboy,".*",{git,"https://github.com/devinus/poolboy.git",{branch,"master"}}}
  ,{erlastic_search,".*",{git,"https://github.com/tsloughter/erlastic_search.git",{branch,"master"}}}
  ,{epgsql,".*",{git,"https://github.com/epgsql/epgsql.git",{branch,"master"}}}
 ]
}.
